<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .nav-item:hover {
            background: #d65106;
            color: #ffffff;
            border-radius: 5px;
        }
        #img_print{
            display: none;
        }
    </style>

</head>

<body>
    <header class="top-navbar">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="https://image.slidesharecdn.com/easyfood-120402102210-phpapp02/95/easy-food-1-728.jpg?cb=1333362369"
                    alt="logo" style="width:60px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar" style="float: right;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            data-toggle="dropdown" area-haspopup="true" aria-expanded="false">Food Items</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="admin/add_item">Add Item</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="admin/delete_item">Delete Item</a>
                        </div>
                    </li>
                    <li class="nav-item ni">
                        <a class="nav-link" href="#">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile Check</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Profile Check</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <div style="padding-left: 45%;">Add Items</div>
    <br>
    <img style="padding-left: 25%; padding-right: 25%;" class="figure-img img-fluid rounded" id="img_print" src="" alt="">
    <div style="padding-left: 38%;">
        <form action="/add_item_cart" method="POST">
            <div class="inputbox">
                <input type="url" name="Imageurl" id="img_ur" required>
                <label>Image url</label>
            </div>
            <div class="inputbox">
                <input type="text" name="Item_name" required>
                <label>Item name</label>
            </div>
            <div class="inputbox">
                <input type="text" name="Hotel_address" required>
                <label>Hotel address</label>
            </div>
            <div class="inputbox">
                <input type="text" name="Catagories" required>
                <label>Catagories</label>
            </div>
            <div class="inputbox">
                <input type="text" name="Price" required>
                <label>Price</label>
            </div>
            <div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <script>
        // $('#img_ur').change().add()
        // function k(){
        //     document.getElementById('img_print').src=document.getElementById('img_ur').innerHTML;
        // }
        $(document).ready(function(){
    $("#img_ur").change(function(){
        // Change src attribute of image
        $("#img_print").css('display','block');
        $("#img_print").attr("src", $('#img_ur').val());
    });    
});
    </script>
</body>

</html>