<!DOCTYPE html>
<html lang="en" id="html2">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://the-vr7.github.io/Hello-World/animations.css">
    <link rel="stylesheet" href="./css/main.css">
    
    <script>
        onload = start;
        function start() {
            var im1 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner12.jpg')"
            var im2 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img3.jpg')"
            var im3 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img2.jpg')"
            var im4 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-5.jpg')"
            var im5 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-4.jpg')"
            var im6 = "linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/slide_2.jpg')"
            var i = 0;
            function Move() {
                i = (i % 5) + 1; // 5 is the Number of image in slider
                if (i == 1) {
                    document.getElementById('img').style.backgroundImage = im1
                }
                else if (i == 2) {
                    document.getElementById('img').style.backgroundImage = im2
                }
                else if (i == 3) {
                    document.getElementById('img').style.backgroundImage = im3
                }
                else if (i == 4) {
                    document.getElementById('img').style.backgroundImage = im4
                }
                else if (i == 5) {
                    document.getElementById('img').style.backgroundImage = im5
                }
                else {
                    document.getElementById('img').style.backgroundImage = im6
                }
            }
            setInterval(Move, 3000); //change img in 3 sec
        }
    </script>
</head>

<body>

    <!-- Navbar of the website -->
    <header class="top-navbar" id="navbar11">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand">
                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capturefgf.PNG"
                        class="navbar1" alt="">
                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capture.PNG"
                        class="navbar2" alt="" style="background: hidden;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food"
                    aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="#aboutus">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#menubox">Menu</a></li>
                        <li class="nav-item"><a class="nav-link"
                                onclick="document.getElementById('id01').style.display='block'"
                                style="width:auto; cursor: pointer;">Log in</a></li>
                        <li class="nav-item"><a class="nav-link"
                                onclick="document.getElementById('id02').style.display='block'"
                                style="width:auto; cursor: pointer;">Sign up</a></li>
                </div>
            </div>
            </div>
        </nav>
    </header>


    <!-- Login Form of the website -->


    <div id="id01" class="modal">
        <div class="boxlog" style="background: rgba(0, 0, 0, 1);">
            <h1>Login</h1>
            <form method="POST" action="/login" class="modal-content animate" id="myform">
                <div class="inputbox">
                    <input type="text" name="username" required>
                    <label> username </label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="password" name="password" required><br><br>
                    <label>password</label>
                </div>
                <button type="submit" id="rege">Log in</button>
                <br><br>
                <h5 style="color: blue;">Don't have an account &nbsp;&nbsp;&nbsp;&nbsp;<a style="position: absolute;"
                        onclick="document.getElementById('id02').style.display='block' , document.getElementById('id01').style.display='none'">
                        &nbsp;Sign up</a></h5>
                <div class="container1" style="background-color: transparent">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <!-- Sign Up form of the website  -->


    <div id="id02" class="modal">
        <div class="boxlog">
            <h2 id="reg1">Register Yourself</h2>
            <form method="POST" action="/register" class="animate" id="myform1">
                <div class="inputbox">
                    <input type="text" name="name" required>
                    <label>Enter Your Name</label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <br>
                <div class="inputbox">
                    <input type="username" name="username" required>
                    <label>Username</label>
                </div><br>
                <div class="inputbox">
                    <input type="password" name="password" required>
                    <label>Enter Password</label>
                </div>
                <br>
                <button type="submit"
                    style="letter-spacing: 2px; font-size: 19px; margin-top: 15px; margin-left: 95px;">Register</button>
                <br><br>
                <h5 style="color: white;">Already have an account &nbsp;&nbsp;&nbsp;&nbsp;<a style="position: absolute;"
                        onclick="document.getElementById('id02').style.display='none' , document.getElementById('id01').style.display='block'">
                        &nbsp;Log in</a></h5>
                <div class="container1" style="background-color: transparent">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var modal = document.getElementById('id01');
        var modal2 = document.getElementById('id02');
        window.onclick = function (event) {
            if (event.target == modal) {
                document.getElementById("myform").reset();
                modal.style.display = "none";
            }
            if (event.target == modal2) {
                modal2.style.display = "none";
                document.getElementById("myform1").reset();
            }
        } 
    </script>


    <!-- BAckground Image slider of the website just below the navbar -->


    <section class="header" id="img"
        style="background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/slide_2.jpg')">
        <div style="display: none;">
            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/banner12.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img3.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img2.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-5.jpg"
                alt="" style="visibility: hidden;"><img
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/img-4.jpg"
                alt="" style="visibility: hidden;">

        </div>

        <!-- Content above the Image slider css from 121 -->

        <div class="cont1">
            <div id="cool"></div>
            <div id="cool1"></div>
            <section class="rw-wrapper">
                <div class="rw-words-1">
                    <span>Network of over 5000 Restaurants</span>
                </div>
                <div class="rw-words-2">
                    <span>To Order Online</span>
                </div>
            </section>
        </div>
        <div class="input-group">
            <form action="">
                <input type="text" class="form-control" id="myText12" placeholder="Enter the type of Food">
                <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/sricon.png"
                    id="icon" class="iconic">
                <button type="submit" class="input-group-text btn"> <a href="#menubox" id="search123" onclick="searc()"
                        style="color: white;">Search</a></button>
            </form>
        </div>
    </section>


    <!-- Part just below the Background Image slider having 4 pics  -->

    <div class="anima1 animatedParent animateOnce">
        <span class="slower animated fadeInUp box">Ordering food was never so easy</span>
        <br><br><br>
        <div class="lin1 slow animated fadeInDown box"></div>
        <pre id="st1" class="slower animated fadeInUp box delay-500">Just 4 steps follow</pre>
        <div class="lin2 slow animated fadeInDown box"></div>
        <div class="imgs">
            <img class="animated fadeInLeft box delay-500" id="one"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/one.png">
            <img class="animated fadeInLeft box delay-1000" id="one1"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/two.png">
            <img class="animated fadeInLeft box delay-1500" id="one2"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/thrww.png">
            <img class="animated fadeInLeft box delay-2000" id="one3"
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/four.png">
        </div>
    </div>


    <!-- Content below those pics , this part has Featured Food Items Section -->

    <section class="features">
        <h1 style="text-align: center; padding-bottom: 30px; font-family: sans-serif;font-weight: 700; color: white;">
            Featured
            Food Items</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="https://www.dominos.co.in/files/items/IndianTandooriPaneer.jpg"
                                style="height: 200px;">
                        </div>
                        <span class="price">450 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Indi Tandoori Pizza</h3>
                            <h4>Domino's</h4>
                        </div>
                        <div class="summary">
                            <p>
                                !It is hot. It is spicy. It is oh-so-Indian. Tandoori paneer with capsicum I red paprika
                                I mint mayo
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/McVeggi%20Burger.png"
                                style="height: 200px;">
                        </div>
                        <span class="price">107 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>McVeggi Burger</h3>
                            <h4>McDonald's</h4>
                        </div>
                        <div class="summary">
                            <p>
                                A delectable patty made of green goodness, potatoes, peas, carrots and selection of
                                Indian spices.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-box">
                        <div class="feature-img">
                            <img
                                src="https://www.whiskaffair.com/wp-content/uploads/2014/02/Shahi-Paneer-5-480x270.jpg">
                        </div>
                        <span class="price">165 INR</span> &nbsp
                        <span class="ratings">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>

                        </span>
                        <div class="placename">
                            <h3>Shahi Paneer</h3>
                            <h4>Taj Family Restaurant</h4>
                        </div>
                        <div class="summary">
                            <p>
                                Shahi paneer is a preparation of paneer,
                                consisting of a thick gravy of cream, tomatoes and Indian spices.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Main Menu of our Website -->



    <section class="features1" id="menubox">

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-4 col-md-5">
                            <h4 id="one">Our Menu</h4>
                        </div>
                        <div class="col-8 col-md-7 dotted">
                            <hr id="lin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="list-group list-group-flush">
                                <a onclick="show_pizza()" id="pizzaid"
                                    class="list-group-item list-group-item-action">Pizza</a>
                                <a onclick="show_burger()" id="burgerid"
                                    class="list-group-item list-group-item-action">Burger</a>
                                <a onclick="show_paneer()" id="paneerid"
                                    class="list-group-item list-group-item-action">Paneer</a>
                                <a onclick="show_icecream()" id="icecreamid"
                                    class="list-group-item list-group-item-action">Ice Cream</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-5 col-md-5">
                            <h4 id="one">Top Cuisines</h4>
                        </div>
                        <div class="col-7 col-md-7 dotted">
                            <hr id="lin">
                        </div>
                    </div>
                    <div id="pizza">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Indi Tandoori Pizza','Dominos',450)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/IndianTandooriPaneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption"><span id="cap111">Indi Tandoori</span>
                                    </figcaption>
                                    <figcaption class="figure-caption"><span id="cap112">Dominos</span><br><span
                                            id="cap113">&#8377 450</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Peppp Paneer Pizza','Dominos',395)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/peppypaneer.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="cap121">Peppy Paneer</figcaption>
                                    <figcaption class="figure-caption"><span id="cap122">Dominos</span><br><span
                                            id="cap123">&#8377 395</span></figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Veg Extravaganza Pizza','Dominos',450)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/vegextra.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="cap131">Veg Extravaganza</figcaption>
                                    <figcaption class="figure-caption"><span id="cap132">Dominos</span><br><span
                                            id="cap133">&#8377 450</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Mexican Green Wave Pizza','Dominos',395)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/mexgreen.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="cap141">Mexican Green Wave</figcaption>
                                    <figcaption class="figure-caption"><span id="cap142">Dominos</span><br><span
                                            id="cap143">&#8377 395</span></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="burger">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Mc Aloo Tikki Burger','MacDonalds',48)">Order Now</button>
                                    <img src="https://i.ytimg.com/vi/q7Idojp5ZY8/maxresdefault.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="211">Mc Aloo Tikki</figcaption>
                                    <figcaption class="figure-caption"><span id="cap212">MacDonalds'</span><br><span
                                            id="cap213">&#8377 48</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Mexican Mc Aloo Tikki','MacDonalds',55)">Order Now</button>
                                    <img src="https://i1.wp.com/files.hungryforever.com/wp-content/uploads/2016/07/10202927/McDonalds-Featured.jpg?resize=1075%2C605&ssl=1"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="221">Mexican Mc Aloo Tikki</figcaption>
                                    <figcaption class="figure-caption"><span id="cap222">MacDonalds'</span><br><span
                                            id="cap223">&#8377 55</span></figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('American Cheese Burger','MacDonalds',121)">Order
                                        Now</button>
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvDfrD9Or8ap6NcGJ64GhW6xdzl0o0elqArC-PJ670a9-6dFFBlg&s"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="231">American Cheese</figcaption>
                                    <figcaption class="figure-caption"><span id="cap232">MacDonalds'</span><br><span
                                            id="cap233">&#8377 121</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('McVeggi Burger','MacDonalds',107)">Order Now</button>
                                    <img src="https://glamadelaide.com.au/wp-content/uploads/2019/04/McDonalds_Veggie_Burger.png"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="241">McVeggi</figcaption>
                                    <figcaption class="figure-caption"><span id="cap242">MacDonalds'</span><br><span
                                            id="cap243">&#8377 107</span></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="paneer">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Paneer Do pyaza','Agrawal Bhojanalay',175)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Paneer%20Do%20Pyaza.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="311">Paneer Do Pyaza</figcaption>
                                    <figcaption class="figure-caption"><span id="cap312">Agrawal
                                            Bhojanalay</span><br><span id="cap313">&#8377 175</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Mattar Paneer','Taj Family Restaurant',120)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Mattar%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="321">Mattar Paneer</figcaption>
                                    <figcaption class="figure-caption"><span id="cap322">Taj Family
                                            Restaurant</span><br><span id="cap323">&#8377 120</span></figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Kadai Paneer','Food Hut Restaurant',155)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Kadai%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="331">Kadai Paneer</figcaption>
                                    <figcaption class="figure-caption"><span id="cap332">Food Hut
                                            Restaurant</span><br><span id="cap333">&#8377 155</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Shahi Paneer','Shankar Foods',165)">Order Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Shahi%20Paneer.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="341">Shahi Paneer</figcaption>
                                    <figcaption class="figure-caption"><span id="cap342">Shankar Foods</span><br><span
                                            id="cap343">&#8377 165</span></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div id="icecream">
                        <div class="row">
                            <div class="col-5 col-md-5" id="img11">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Fresh Mango Ice Cream','Baskin Robbins',69)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Fresh%20Fruit%20Mango%20Ice%20Cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="411">Fresh Mango</figcaption>
                                    <figcaption class="figure-caption"><span id="cap412">Baskin Robbins</span><br><span
                                            id="cap413">&#8377 69</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img22">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Fresh Coconut Ice Cream','Baskin Robbins',89)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Coconut%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="421">Fresh Coconut</figcaption>
                                    <figcaption class="figure-caption"><span id="cap422">Baskin Robbins</span><br><span
                                            id="cap423">&#8377 89</span></figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 col-md-5" id="img33">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Straw Berry Ice cream','Baskin Robbins',69)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/StrawBerry%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="431">Straw Berry</figcaption>
                                    <figcaption class="figure-caption"><span id="cap432">Baskin Robbins</span><br><span
                                            id="cap433">&#8377 69</span></figcaption>
                                </figure>
                            </div>
                            <div class="col-5 col-md-5" id="img44">
                                <figure class="figure">
                                    <button class="cart-btn" value="Order Now"
                                        onclick="show_cart('Kesar Pasta Ice Cream','Baskin Robbins',79)">Order
                                        Now</button>
                                    <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Data%20Images/Kesar%20Pasta%20Ice%20cream.jpg"
                                        class="figure-img img-fluid rounded">
                                    <figcaption class="figure-caption" id="441">Kesar Pasta</figcaption>
                                    <figcaption class="figure-caption"><span id="cap442">Baskin Robbins</span><br><span
                                            id="cap443">&#8377 79</span></figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <!-- Part just below the Menu section -->


    <section class="img1123">
        <div class="container-fluid animatedParent animateOnce" id="pic22">
            <div class="row slow animated fadeIn box">
                <div class="col-12 col-lg-12 block11">
                    <div class="row animatedParent animateOnce">
                        <div class="col-lg-3 slow animated rollIn box">
                            <h2 id="elee">Enjoy Exclusive Food<br>Order any of these</h2>
                        </div>
                        <div class="col-lg-2 slow animated fadeInDown box delay-500">
                            <ul class="list-group lis22">
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Party Order</li>
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Fast Food</li>
                                <li class="list-group-item lis33"><i class="fa fa-arrow-right ico"
                                        aria-hidden="true"></i>Diet Food</li>
                            </ul>
                        </div>
                        <div class="col-lg-5 slow animated fadeIn box delay-1000">
                            <img src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/abc.png"
                                id="img333">
                        </div>
                        <div class="col-lg-2 slow animated fadeInDown box delay-1500"> <a href="#img" class="ord">ORDER
                                NOW</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- This is about us section which is the last part of the website -->


    <section id="aboutus" class="aboutus animatedParent animateOnce">


        <div class="info slow animated fadeInUp box">
            <img style="width: 190px; "
                src="https://raw.githubusercontent.com/THE-VR7/Food-ordering-web-application/master/images/Capture.PNG">
            <br>
            <br>
            <div style="color:grey; font-family:Verdana, Geneva, Tahoma, sans-serif; line-height: 10px;">
                <p>Food Panda,

                </p>
                <p> GLA University</p>
                <p>Mathura, UP</p>
                <p>Uttar Pradesh 281001</p>
            </div>
            <br>

            <p class="social" style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">
                Follow Us &nbsp
                <a href="#" style="color: white;"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                &nbsp <a href="#" style="color: white;"><i class="fa fa-instagram" aria-hidden="true"></i></a> &nbsp <a
                    style="color: white;" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>

            </p>

        </div>

        <div class="uselik slow animated fadeInDown box delay-500">
            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Useful Links</p>

            <ul style="list-style: none;">
                <li><a style="text-decoration: none;" target="_blank" href="/info/#section-1">FAQ</a></li>
                <li><a style="text-decoration: none;" target="_blank" href="/info/#section-2">Terms and Condition</a>
                </li>
                <li><a style="text-decoration: none;" target="_blank" href="/info/#section-3">Privacy Policy</a></li>
                <li><a style="text-decoration: none;" target="_blank" href="/info/#section-4">Terms of Use</a></li>
                <li><a style="text-decoration: none;" target="_blank" href="/info/#section-5">Refund Policy</a></li>
            </ul>
            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;" id="fdbk">Give
                Your Valuable Feedback</p>
            <button onclick="show_feedback()" id="fdbkbtn">Click Me</button>
        </div>
        <div class="gtch slow animated fadeIn box delay-1000">

            <p style="color: white; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;">Get in touch</p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp vineet.rathor_cs17@gla.ac.in
            </p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp saurabh.singh_cs17@gla.ac.in
            </p>
            <p style="color: grey; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px;"><i
                    class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp rajeev.chaturvedi_cvl17@gla.ac.in
            </p>
        </div>
    </section>


    <!-- This section is the feedback section which will open when user clicks on the click on feedback button given in the last part about us section of thee website -->

    <section class="feedback" id="feedback1">
        <div class="container">
            <h1 class="h1h1">Share your problems with us</h1>
            <br>
            <form method="POST" id="feedform" action="/index">
                <div class="row">
                    <div class="col-md-4 col-12 offset-2">
                        <div class="styled-input">
                            <input type="text" name="Name" required />
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="styled-input">
                            <input type="email" name="email" required />
                            <label>Email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 offset-3">
                        <div class="styled-input">
                            <input type="text" name="phonenumber" required />
                            <label>Phone Number</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-9 offset-2">
                        <div class="styled-input">
                            <textarea name="text" id="textmsg" cols="2" rows="2"
                                placeholder="Enter Your Message here"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-3 offset-5">
                        <button type="submit" class="submit-btn">Send message</butto>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- This part is having scripts which are of Menu and some other sections -->

    <script>
        function show_cart(x, y, z) {
            alert("You need to Signup or Login to Order this item")
            document.getElementById('id01').style.display = 'block'
            $('#id01').css("width:auto; cursor: pointer;")
        }
        function disableScroll() {
            // Get the current page scroll position 
            scrollTop =
                window.pageYOffset || document.documentElement.scrollTop;
            scrollLeft =
                window.pageXOffset || document.documentElement.scrollLeft,

                // if any scroll is attempted, 
                // set this to the previous value 
                window.onscroll = function () {
                    window.scrollTo(scrollLeft, scrollTop);
                };
        }
        function enableScroll() {
            window.onscroll = function () { };
        }
        function show_feedback() {
            document.getElementById("html2").style.scrollBehavior = "unset";
            document.getElementById("feedback1").style.display = "block";
            location.href = '#feedform';
            document.getElementById("navbar11").style.display = "none";
            disableScroll();
        }
        function show_pizza() {
            document.getElementById("pizza").style.display = "block";
            document.getElementById("pizzaid").style = " background-color: red;color: white;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "none";
        }
        function show_burger() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "block";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "none";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"

        }
        function show_paneer() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "block";
            document.getElementById("icecream").style.display = "none";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"

        }
        function show_icecream() {
            document.getElementById("pizza").style.display = "none";
            document.getElementById("burger").style.display = "none";
            document.getElementById("paneer").style.display = "none";
            document.getElementById("icecream").style.display = "block";
            document.getElementById("pizzaid").style = " background-color: white;color: black;font-size: 26px;border-radius: 5px;"
            document.getElementById("paneerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"
            document.getElementById("icecreamid").style = " background-color: red;color: white;font-size: 25px;border-radius: 5px;"
            document.getElementById("burgerid").style = " background-color: white;color: black;font-size: 25px;border-radius: 5px;"

        }
        function searc() {
            console.log("0")
            x = document.getElementById("myText12").value;
            if (x.toLowerCase() == "pizza") {
                console.log("1")
                show_pizza()
            }
            else if (x.toLowerCase() == "burger") {
                show_burger()
            }
            else if (x.toLowerCase() == "paneer") {
                show_paneer()
            }
            else if (x.toLowerCase() == "ice cream" || x.toLowerCase() == "icecream") {
                show_icecream()
            }
            else {
                alert("Sorry We don't have this item")
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://the-vr7.github.io/Hello-World/css3-animate-it.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>